@import "tailwindcss";



@theme {
  --colorprincipal: rgba(229, 180, 34, 1);
  --colorsecundario: rgba(255, 255, 255, 1);
  --fondoheader: rgba(33, 33, 33, 1);
  --fondopartners: rgba(65, 65, 65, 1);
  --fondoproyectos: rgba(98, 98, 98, 1);
  --colorborde: rgba(0, 0, 0, 1);
  --colorform: rgba(162, 162, 162, 1);
  --soporte: rgba(249, 234, 71, 1);
  
  --font-size-titulo: 64px;
  --font-size-subtitulo: 36px;
  --font-size-titulo2: 48px;
  --font-size-header-footer: 20px;
  
  --fuenteprincipal: "Alfa Slab One", sans-serif;
  --fuenteheader: "Jua", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

